<h1>編輯書本資訊</h1>


<% if @book.errors.any? %>
<ul>
<% @book.errors.full_messages.each do |message| %>
<li><%= message %></li>
<% end %>
</ul>
<% end %>



<%= form_for(@book) do |f| %>
<%= f.label :title , '書本標題：'%>
<%= f.text_field :title  %>
<%= f.submit '編輯書本囉'%>
<% end %>

